<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Planner App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
    <div class="flex flex-col ">
        <div>
            {% block content %}
            <!-- Individual page content will go here -->
            {% endblock %}
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
            if (evt.detail.xhr.status === 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    </script>
</body>

</html>